thead tr
        {
            font-size: 90%;
        }
    .btn-success
        {
            opacity: 0;
        }
    .edit_upd
        {
            display:flex;
            flex-direction: row;
        }
    .edit_upd button
        {
            margin-left: 0.5rem;

        }
    ul
        {
            padding-top: 15px;
        }
    li
        {
            border-radius: 10em;
            transition: 1s all;
        }
    li:hover
        {
            background-color: #14295e;
            color:white;        
            transform: translateX(4%);
            transition: 1s all;
            text-align: center;
        }
    li:active
        {
            transform: translateY(3px);
            box-shadow: 5px 3px 1px #e6e6e6;
        }
    #user,#basket
        {
            border-radius: 25px;
        }

		}
	ul
		{
			padding-top: 15px;
		}
	li
		{
			border-radius: 10em;
			transition: 1.5s all;
		}
	li:hover
		{
			background-color: #14295e;
			color:white;		
			transform: translateX(4%);
			transition: 1.5s all;
			text-align: center;
		}
	li:active
		{
			transform: translateY(3px);
			box-shadow: 5px 3px 1px #e6e6e6;
		}
	#user,#basket
		{
			border-radius: 25px;
		}