@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand{
    font-weight: 10px;
}

body
{
    
    font-family: 'Poppins', sans-serif;
    /*overflow: hidden;*/
}
.incom
{
    max-width: 100px;
}
.goods
{
    width: 100%;
    height: auto;
    background-color:#c5bebe;
    margin: 1rem;
    border-radius: 4px;;
}
.goods>h3 p h4{
    text-align: center;
}
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
  }
  
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .modal-container {
    width: 450px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }
  
  .modal-body {
    margin: 20px 0;
  }
  
  .modal-default-button {
    float: right;
  } 

  .modal-enter {
    opacity: 0;
  }
  
  .modal-leave-active {
    opacity: 0;
  }
  
  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
 .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
    
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active Ð´Ð¾ Ð²ÐµÑ€ÑÐ¸Ð¸ 2.1.8 */ {
    opacity: 0;
    
  }
  .imgg{
      width: 75%;
      height: auto;
      object-fit: cover;    
      margin-right: auto;
      margin-left: auto;
  }
  .brc_cat {
      display: flex;
      flex-wrap: wrap;

      
  }
  .brc
  {
      border-radius: 5px;
      min-height:5rem;
      padding: 2rem;
  }
  .brc:hover .title
  {
      transition: 1s all easy;
  }
  .brc:hover .imgg
  {
      cursor: pointer;
  }
  .col-md-4 h4, p, h3{
        margin-left: 20px;

  }

  .col-md-4
  {
          
          word-wrap: break-word;
          margin-top: 2rem;
          margin-bottom: 2rem;     
  }
  img
  {
      border-radius: 10px;
      transition: 1s all easy;
  }
  img:hover 
  {
      opacity: 1;
      transition: 1s all;   
      box-shadow: 10px 10px #4F4D4D; 
      background-color: #e7e7e7;  
      z-index: 10s;      
      /*transform: rotateX(15deg) rotateY(10deg) rotateZ(10deg);*/
  }
  
  body:before{z-index: -1;}
  
  .title{
    
      font-family: "cursive";
      font-size: 22px;
      position: absolute;
      text-transform: uppercase;
      color: black;
      top: 10%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      
  }
  .brc_cat{
      margin-top: 6%;
      margin-bottom: 8%;
      
  }
  .brc_cat a{
      border-radius: 4px;
      margin-top: -12%;
      width: 100%;
      height: 15%;
      padding: 13%;
      background-color: #c5bebe;
      /*clip: rect(0px,60px,200px,0px)*/
      opacity: 0.5;
      
  }
  .brc_cat a:hover{
    text-align: center;
    margin-top: -12%;
    width: 100%;
    height: 15%;
    padding: 13%;
    background-color: #c5bebe;
    box-shadow: 5px 6px #eee9e9;
    
    z-index: 10;      
    opacity: 8;
    
  }
  .brc_cat a::before{
      z-index: -2;
  }
.highcharts-figure, .highcharts-data-table table {
   min-width: 310px; 
   max-width: 800px;
   margin: 1em auto;
}

#container2 {
   height: 400px;
	width: 100%;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
   padding: 1em 0;
   font-size: 1.2em;
   color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
   padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
   padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
   background: #f8f8f8;
}
.highcharts-data-table tr:hover {
   background: #f1f7ff;
}

/*
header{
    
    top: 0px;
    width: 100%;
    z-index: 1000;
}
*/



.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container{
    max-width: 65rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}



.nav-btn{
    flex: 3;
    display: flex;
}


.btn{
    display: inline-block;
    margin-top: -5px;
    font-size: 0.6rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    text-transform: uppercase;
}

.btn.solid, .btn.transparent:hover{
    
    background-color:darkred;
    background: #52c234;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #061700, #52c234);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #061700, #52c234); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.btn:not(:disabled):not(.disabled) {
    cursor:wait;
}

.btn.transparent, .btn.solid:hover {
  
    background: #00b09b; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.upd_tr
{
    margin-top : 20%;
    position: fixed; z-index:1; background-color: #bcaeae; width: 100%;
    font-size : 16pt;
}
/*hamburg new start-*------------------------------------------------------*/

    


    footer{
     background-color: #111;
    }
  
    
    @media (max-height:800px){
        footer { position: static; }
    }
    
    
    .footer-distributed{
        
        background-color: #111x;
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: bold 16px sans-serif;
        padding:50px 50px 60px 50px;
        margin-top: 80px;
    }
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: inline-block;
        vertical-align: top;
    }
    

    
    .footer-distributed .footer-left{
        width: 30%;
    }
    
    .footer-distributed h3{
        color:  #ffffff;
        font: normal 36px 'Cookie', cursive;
        margin: 0;
    }
    
    
    .footer-distributed .footer-left img{
        width: 30%;
    }
    
    .footer-distributed h3 span{
        color:  #e0ac1c;
    }
    

    
    .footer-distributed .footer-links{
        color:  #ffffff;
        margin: 20px 0 12px;
    }
    
    .footer-distributed .footer-links a{
        display:inline-block;
        line-height: 1.8;
        text-decoration: none;
        color:  inherit;
    }
    
    .footer-distributed .footer-company-name{
        color:  #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    
 
    
    .footer-distributed .footer-center{
        width: 35%;
    }
    
    
    .footer-distributed .footer-center i{
        background-color:  #111;
        color: #ffffff;
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
    }
    
    .footer-distributed .footer-center i.fa-envelope{
        font-size: 17px;
        line-height: 38px;
    }
    
    .footer-distributed .footer-center p{
        display: inline-block;
        color: #ffffff;
        vertical-align: middle;
        margin:0;
    }
    
    .footer-distributed .footer-center p span{
        display:block;
        font-weight: normal;
        font-size:14px;
        line-height:2;
    }
    
    .footer-distributed .footer-center p a{
        color:  #e0ac1c;
        text-decoration: none;;
    }
    
    
  
    
    .footer-distributed .footer-right{
        width: 30%;
    }
    
    .footer-distributed .footer-company-about{
        line-height: 20px;
        color:  #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }
    
    .footer-distributed .footer-company-about span{
        display: block;
        color:  #ffffff;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .footer-distributed .footer-icons{
        margin-top: 25px;
    }
    
    .footer-distributed .footer-icons a{
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color:  #111;
        border-radius: 2px;
    
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
    
        margin-right: 3px;
        margin-bottom: 5px;
    }
    

    
    @media (max-width: 880px) {
    
        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right{
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }
    
        .footer-distributed .footer-center i{
            margin-left: 0;
        }
    
    }
    /*godssss img----------------------------*/
    .goodsimg{
        z-index: 1;
        width: 180px;
        margin: 10px 0 0 120px;
        border-radius: 14%;


    }

    @media (max-width: 920px){
        .goodsimg{
            width:180px ;
            height: auto;
            border-radius: 10%;
            margin: 30px 0 0 70px;
        }
    @media (max-width: 880px){
        .goodsimg{
                width:150px ;
                height: auto;
                border-radius: 13%;
                margin: 20px 0 0 50px;
        }
        @media (max-width: 720px){
            .goodsimg{
                    width:180px ;
                    height:auto;
                    border-radius: 10%;
                    margin: 10px 0 0 50px;
                    
            }  
        @media (max-width: 600px){
            .goodsimg{
                width:180px ;
                height:auto;
                border-radius: 10%;
                margin: 10px 0 0 60px;
                        
                }  
        @media (min-width: 320px){
            .goodsimg{
                        width:145px ;
                        height:auto;
                        border-radius: 10%;
                        margin: 10px 0 0 60px;
                                
                        }  
         @media (max-width: 320px){
                .goodsimg{
                    width:180px ;
                    height:auto;
                    border-radius: 10%;
                    margin: 10px 0 0 40px;
                                        
                    }  

                    
                    /*dsadasdadasd0*/



                    